<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>

<h1 th:text="${titulo}"></h1>

<a th:href="@{/listar}">volver +</a>
<!--emmet: table>(thead>tr>th*4)+tbody>tr>td*4 -->
<div>
<img
th:if="${producto.foto != null && #strings.length(producto.foto)>0}"
style="max-width: 25%" 
th:src="@{/uploads/img/}+${producto.foto}" 
th:alt="${producto.nombre}" />
</div>
<ul>
	<li th:text="${producto.nombre}"></li>
	<li th:text="'Id: '+${producto.id}"></li>
	<li th:text="'Precio: '+${#numbers.formatCurrency(producto.precio)}"></li>
	<li th:text="'Fecha: '+${#calendars.format(producto.createAt, 'dd/MM/yyyy')}"></li>
</ul>

</body>
</html>